* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

header {
    background-color: #8fb900;
    display: flex;
    justify-content: center;
    color: #fff;
}

h1 {
    font-size: 22px;
    font-weight: bold;
}

h3 {
    font-size: 18px;
    color: #b90032;
}

p {
    font-size: 16px;
}

section {
    width: 1160px;
    margin: 80px auto 0 auto;

}

.btn {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 12px;
    border: 2px solid #fff;
    font-weight: bold;
    display: block;
}

.btn-red {
    border: none;
    background-color: #b90032;
    color: #fff;
    width: 236px;

    text-align: center;



}

header a:hover {
    color: #8fb900;
    background-color: #fff;
}

header div {
    width: 1160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.main-image {
    position: relative;

}

.main-image div {
    background-color: rgba(185, 0, 50, 0.4);
    height: 55px;
    display: flex;
    align-items: center;
    width: 100%;

    position: absolute;
    bottom: 7px;
    left: 0;
}

.main-image p {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    margin: 0 17px;
}

.container-item {
    display: flex;
    justify-content: space-between;
}

.item-the {
    margin-top: 25px;
    width: 280px;
    border: 1px solid #b90032;

}



.item-the-description {
    padding: 10px;
}